* {
    font-family: 'Balsamiq Sans', cursive;
}

h1 {
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    padding: 20px 0;
}

input[type=checkbox] {
    margin: 6px;
}

button {
    background: #0e80db;
    width: 120px;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 2px;
}

button:hover {
    opacity: 0.7;
}

.content {
    margin: 40px auto;
    width: 700px;
    height: 500px;
}

.controls {
    margin: 20px 0;
}

.correct {
    background-color: #60c260;
}

.incorrect {
    background-color: #fe5353;
}

.correct,
.incorrect {
    color: #fff;
    font-size: 12px;
    padding: 10px;
}

.danger {
    background-color: red;
}

.short-question .answer {
    visibility: hidden;
}

.show {
    visibility: visible;
    padding: 10px;
    margin: 10px 0;
    color: #fff;
    background-color: #60c260;
    border-radius: 2px;
}

.hide {
    visibility: hidden;
}